.pageClient .bouton .dic1 {
 
    float: left;
    margin: 20px;
    align-items: center;
}
.pageClient .bouton .dic2 {
    
    float: right;
    align-items: center;
}
.pageClient .bouton{
    display: flex;
}
.pageClient {
    width: 800px;
}
.pageClient .bouton .espace{
    width: 900px;
}
#tableau{
    margin-top: -10%;
}
.paper{
    padding: 10px;
}
.custom-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .custom-header {
    background-color: #f5f5f5;
    font-weight: bold;
    text-align: center;
  }
  
  .edit-icon {
    color: green;
    margin-right: 5px;
  }
  
  .delete-icon {
    color: red;
    margin-left: 5px;
  }
  